[build-system]
requires = [
    "setuptools>=42",
    "wheel"
]
build-backend = "setuptools.build_meta"

[project]
name = "wavesolve"
version = "0.0.1"
dependencies = [
    "numpy",
    "matplotlib",
    "gmsh",
    "pygmsh",
    "juliacall",
]